/* * {
    border: 1px solid black;
} */

.container {
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main-content main-content"
        "sidebar main-content main-content";

    height: 100%;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    background-color: #27B1E5;
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

.sidebar .links,
.sidebar .help {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    grid-area: header;
}

.main-content {
    display: grid;
    grid-area: main-content;
    grid-template-columns: 2fr 1fr;
    margin: 12px;
}

.projects h2 {
    margin-left: 30px;
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    align-content: space-evenly;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 350px));
    grid-template-rows: repeat(3, minmax(250px, 350px));
    gap: 50px;
    margin-left: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgrey;
    border-radius: 16px;
    padding: 18px;
}

ul {
    margin-right: 20px;
    list-style-type: none;
}

h2 {
    font-weight: bold;
}

.trending {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 18px;
}

.trending div {
    display: grid;
    grid-template-columns: min-content 2fr;
    position: relative;
    width: 250px;
}

.trending img {
    display: flex;
    height: 52px;
    width: auto;
}

.trending h4 {
    position: absolute;
    top: -22px;
    left: 18px;
}

.trending p {
    position: absolute;
    top: 16px;
    left: 18px;
}

.avatar {
    min-width: fit-content;
    margin-bottom: 12px;
    padding: 20px;
}
 