* {
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --darkest: #1F281E;
    --darker: #23252D;
    --dark: #2B2D35;
    --medium: #3A3C44;
    --lighter: #46484F;
    --light: #8C8D92;
    --gold: #EDB227;
}

.container {
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main-content main-content"
        "sidebar main-content main-content";

    height: 100%;
    width: 100%;
}

/* header styling */

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 2fr 3fr;
    align-items: center;

    background-color: var(--medium);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.55);
    color: white;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 12px;
}

.right-header svg{
    height: 35px;
    width: 35px;
}

.search {
    height: 28px;
    margin-left: 40px;
}

.right-header #logo {
    height: 40px;
}

.top .left-header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

.top .right-header {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;
    justify-content: space-around;
}

.right-header svg:hover {
    -webkit-animation: shake .1s ease-in-out .1s infinite alternate;
    stroke: var(--gold);
}

@-webkit-keyframes shake {
    from{
        -webkit-transform: rotate(15deg);
    }
    to{
        -webkit-transform: rotate(-15deg);
        -webkit-transform-origin: center center;
    }
}

.right-header #logo {
    position: relative;
    left: 20px;
}

.right-header h3 {
    text-align: center;
    margin-right: 12px;
}

input {
    width: 500px;
    height: 20px;
    align-items: center;
    border-radius: 50px;
}

.bottom {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.title img {
    height: 80px;
    margin-right: 12px;
}

.bottom h3 {
    font-size: 24px;
}

.name p {
    position: relative;
    top: 10px;
}

.name h3 {
    position: relative;
    top: -8px;
}

.bottom .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom > .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.bottom button {
    width: 150px;
    height: 30px;

    background-color: var(--darkest);
    color: white;
    border: 3px solid var(--darker);
    border-radius: 50px;
}

button:hover {
    border: 2px solid var(--gold);
}

/* sidebar styling */

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 7fr;
    padding: 0px 20px 0px 20px;

    background-color: var(--medium);
    color: white;
}

.sidebar .dashboard {
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.sidebar div {
    font-size: 20px;
}

.sidebar .links,
.sidebar .help {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.dashboard svg {
    height: 50px;
    margin-right: 6px;
}

.link svg {
    height: 24px;
    width: 24px;
    margin-right: 20px;
    padding: 12px;
}

.links, .dashboard, .help {
    padding: 12px;
}

.sidebar img:hover {
    background-color: var(--gold);
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
}

svg:hover > path {
    stroke: var(--gold);
}

svg:hover #icons{
    fill: var(--gold);
}

/* main content styling */

.main-content {
    display: grid;
    grid-area: main-content;
    grid-template-columns: 2fr 1fr;
}

.projects h2,
.announcement h2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    width: 300px;

    border-radius: 12px;
    background-color: white;
}

.announcement h2 {
    width: 200px;
}

.announcements {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40%, 1fr));
    row-gap: 20px;
    align-content: space-evenly;
    justify-content: center;
    padding-right: 40px;
    padding-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 350px));
    grid-template-rows: repeat(3, minmax(350px, 450px));
    gap: 30px;
    margin: 0px 24px 0px 30px;
    justify-content: space-evenly;
}

.card, 
.trending {
    display: flex;
    flex-direction: column;
    padding: 18px;
    cursor: pointer;

    border: 1px solid darkgrey;
    border-radius: 16px;
    background: linear-gradient(170deg, var(--light) 0%, var(--darker) 100%);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.55);
    color: white;
}

.card h4,
.announcement li {
    font-size: 22px;
}

.projects h2, 
.announcement h2,
.trending h2 {
    font-size: 32px;
    text-decoration: underline;
}

.card:hover,
.trending:hover {
    transform: scale(0.95);
    border: 2px solid var(--gold);
}

ul {
    list-style-type: none;
    margin-right: 20px;
    padding-right: 30px;
}

.announcement p {
    padding-bottom: 18px;
    border-bottom: 1px solid black; 
}

.announcement p:last-child {
    border-bottom: none;
}

.trending {
    justify-content: space-evenly;
    align-items: center;
}

.trending div {
    display: grid;
    grid-template-columns: min-content 2fr;
    position: relative;
    width: 250px;
}

.trending img {
    display: flex;
    height: 52px;
    width: auto;
}

.trending h4 {
    position: absolute;
    top: -22px;
    left: 18px;
}

.trending p {
    position: absolute;
    top: 16px;
    left: 18px;
}

.avatar {
    min-width: fit-content;
    margin-bottom: 12px;
    padding: 20px;
}