/* * {
    border: 1px solid black;
} */

.container {
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main-content main-content"
        "sidebar main-content main-content";

    height: 95vh;
    width: 95vw;
}

.sidebar {
    grid-area: sidebar;
    background-color: #27B1E5;
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

.sidebar .links,
.sidebar .help {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    grid-area: header;
}

.main-content {
    display: grid;
    grid-area: main-content;
    grid-template-columns: 2fr 1fr;
    margin: 12px;
}

.projects h3 {
    margin-left: 30px;
}

.announcements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgrey;
    border-radius: 16px;
    padding: 18px;
}

ul {
    margin-right: 20px;
    list-style-type: none;
}

h3 {
    font-weight: bold;
}

.trending li {
    font-weight: lighter;
}