/* * {
    border: 1px solid black;
} */

:root {
    --darkest: #0F0E11;
    --darker: #23252D;
    --dark: #2B2D35;
    --medium: #3A3C44;
    --lighter: #46484F;
    --gold: #EDB227;
}

.container {
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main-content main-content"
        "sidebar main-content main-content";

    height: 100%;
    width: 100%;
}

/* header styling */

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 2fr 3fr;
    align-items: center;
    margin-left: 8px;
    margin-right: 12px;
    background-color: var(--dark);
    color: white;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#notification {
    height: 20px;
    margin-left: 12px;
}

#search {
    height: 28px;
    margin-left: 50px;
}

.right-header #logo {
    height: 40px;
}

.top .left-header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

.top .right-header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    justify-content: space-around;
}

.right-header #notification {
    position: relative;
    left: 60px;
}

.right-header #logo {
    position: relative;
    left: 20px;
}

.right-header h3 {
    text-align: center;
    margin-right: 12px;
}

input {
    width: 500px;
    height: 20px;
    align-items: center;
    border-radius: 50px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.title img {
    height: 80px;
    margin-right: 12px;
}

.name p {
    position: relative;
    top: 10px;
}

.name h3 {
    position: relative;
    top: -8px;
}

.bottom > .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.bottom button {
    width: 150px;
    height: 30px;
    border-radius: 50px;
    background-color: var(--medium);
    color: white;
    border: 3px solid var(--darker);
}

/* sidebar styling */

.sidebar {
    grid-area: sidebar;
    background-color: var(--dark);
    color: white;
    display: grid;
    grid-template-rows: 1fr 4fr 7fr;
}

.sidebar .links,
.sidebar .help {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 14px;
}

.dashboard svg {
    height: 40px;
    margin-right: 6px;
}

.link svg {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    padding: 12px;
}

.links, .dashboard, .help {
    padding: 12px;
}

.sidebar img:hover {
    background-color: var(--gold);
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

svg:hover > path {
    stroke: var(--gold);
}

svg:hover #icons{
    fill: var(--gold);
}

/* main content styling */

.main-content {
    display: grid;
    grid-area: main-content;
    grid-template-columns: 2fr 1fr;
    margin: 12px;
}

.projects h2 {
    margin-left: 30px;
}

.announcements {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40%, 1fr));
    row-gap: 20px;
    align-content: space-evenly;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 350px));
    grid-template-rows: repeat(3, minmax(250px, 350px));
    gap: 30px;
    margin: 0px 24px 0px 30px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgrey;
    border-radius: 16px;
    padding: 18px;
}

ul {
    margin-right: 20px;
    list-style-type: none;
    padding-right: 30px;
}

.announcement p {
    border-bottom: 1px solid black; 
    padding-bottom: 18px;
}

.announcement p:last-child {
    border-bottom: none;
}

h2 {
    font-weight: bold;
}

.trending {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 18px;
}

.trending div {
    display: grid;
    grid-template-columns: min-content 2fr;
    position: relative;
    width: 250px;
}

.trending img {
    display: flex;
    height: 52px;
    width: auto;
}

.trending h4 {
    position: absolute;
    top: -22px;
    left: 18px;
}

.trending p {
    position: absolute;
    top: 16px;
    left: 18px;
}

.avatar {
    min-width: fit-content;
    margin-bottom: 12px;
    padding: 20px;
}